@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Welcome to ManagerAssistant!</h1>
        <p>This application is intended for managers of it companies. The app is cross-platform and can be used on various devices.</p>
        <img src="~/Image/alldevises.png" style="width:90%" />
    </div>
